@font-face {
    font-family: "digital-7-mono";
    src: url("digital-7-mono.ttf");
}

.background-img {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    filter: blur(7px);
    z-index: -1;
}

.tetris-blur {
    filter: blur(4px);
}

.tetris {
    width: 100vw;
    height: 100vh;
}

#tetris-board-container {
    position: relative;
}

/* tetris top tool bar */
#tetris-toolbar {
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    padding: 10px 20px;
    font-size: 35px;
    letter-spacing: 20px;
    color: rgba(255, 255, 255, 0.85);
    z-index: 10;
}

#tetris-toolbar a:hover {
    color: rgba(255, 255, 255, 0.99);
    cursor: pointer;
}

/* tetris board info pane */
#tetris-board-info-pane, #tetris-board-info-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#tetris-board-info-pane {
    color: rgba(255, 255, 255, 0.8);
    font-size: 40px;
}

#tetris-board-info-bg {
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.2);
    filter: blur(4px);
}

#tetris-board-info-resume {
    font-size: 100px;
    z-index: 30;
}

#tetris-board-info-resume:hover {
    font-size: 110px;
    color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
}

#tetris-board-info-gameover {
    z-index: 30;
}

#tetris-board-info-restart {
    margin-top: 50px;
    font-size: 60px;
}

#tetris-board-info-restart:hover {
    margin-top: 50px;
    font-size: 65px;
    color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
}

/* tetris board */
#tetris-board {
    padding: 5px;
    z-index: 10;
}

.tetris-col {
    width: 45px;
    height: 45px;
    margin: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}

.tetris-empty {
    background-color: rgba(0, 0, 0, 0.25);
}

.tetris-fixed, .tetris-next-fixed, .tetris-moving {
    background-color: rgba(255, 255, 255, 0.55);
}

.tetris-cancel {
    background-color: rgba(255, 131, 131, 0.8);
}

/* Tetris score pane */
#tetris-score-panel {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.65);
}

#tetris-next-block {
    height: 200px;
    width: 180px;
}

#tetris-points, #tetris-level {
    font-family: "digital-7-mono";
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 3px;
}